.button-div {
    display: flex;
    justify-content: center;
    height: 7rem;
}

.create-button {
    margin: auto;
    margin-bottom: 1rem;
    width: 20rem;
    height: 2rem;
    background-color: #F3F3F3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.tittle-div {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 90%;
}

.tittle {
    position: relative;
    top: 50%;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.tab-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    margin-bottom: 2rem;
}

.tab-container:after {
    position: absolute;
    margin-top: 2rem;
    content: "";
    display: block;
    background: #cccccc;
    height: 1px;
    width: 10%;
}

.tab a {
    text-transform: uppercase;
    color: #818181;
}

.tab:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
}