body {
  background-color: #f3f3f3;
}

.container {
  background-color: #f3f3f3;
}

.root {
  background-color: #f3f3f3;
}

button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.top-bot-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.gap {
  gap: 1rem;
}

.info {
  font-style: oblique;
  color: #818181;
}

.info-accepted {
  font-style: oblique;
  color: #97cf8a;
}

.info-warning {
  font-style: oblique;
  color: #c94c4c;
}

.green {
  background-color: #97cf8a;
}

.red {
  background-color: #c94c4c;
}
