body {
  background-color: #f3f3f3;
}

.container {
  background-color: #f3f3f3;
}

.root {
  background-color: #f3f3f3;
}

button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-evenly{
  display: flex;
  justify-content: space-evenly;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.top-bot-margin{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.gap{
  gap: 1rem;
}