.authentication-form-card {
    display: flex;
    background-color: #f3f3f3;
    width: 40rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 2rem;
    margin: auto;
}

.authentication-form-change-p {
    display: flex;
    justify-content: center;
}

.authentication-change-form {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.authentication-login-link {
    color: #333;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    margin-left: 0.5rem;
}

.authentication-background{
    width: 100%;
    height: 100vh;
    background-color: #333;
}