@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.header__wrapper header {
    width: 100%;
    background-color: #c4b7a6;
    min-height: 10rem;
}

.header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}


.header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translatex(-50%);
}

.header__wrapper .cols__container .left__col .img__container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 32px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col .img__container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header__wrapper .cols__container .left__col h2 {
    margin-top: 105px;
    font-weight: 600;
    font-size: 22px;
}

.header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.header__wrapper .cols__container .left__col .about {
    justify-content: space-around;
    position: relative;
    margin: 35px 0;
    margin-top: 30px;
}

.header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
    cursor: pointer;
}

.header__wrapper .cols__container .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 90%;
}

.header__wrapper .cols__container .profile-content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}

.header__wrapper .cols__container .profile-content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header__wrapper .cols__container .profile-content ul li {
    display: flex;
}

.header__wrapper .cols__container .profile-content ul i {
    font-size: 1.3rem;
}

.header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;
}

.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button:hover {
    opacity: 0.8;
}

.header__wrapper .cols__container .right__col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
    .header__wrapper .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .header__wrapper .cols__container .left__col {
        padding: 25px 0px;
    }

    .header__wrapper .cols__container .right__col nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .header__wrapper .cols__container .right__col .photos {
        height: 365px;
        padding: 0 0 30px;
    }

    .header__wrapper header {
        width: 100%;
        min-height: 10rem
    }

}

@media (min-width: 1017px) {

    .header__wrapper .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        display: block;
        flex-direction: column;
        gap: 50px;
    }

    .header__wrapper header {
        width: 100%;
        min-height: 10rem;
    }

    .header__wrapper .cols__container .left__col {
        margin: auto;
        padding: auto;

    }

    .header__wrapper .cols__container .right__col nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .header__wrapper .cols__container .right__col button {
        margin: auto;
        margin-top: 0;
    }


}