.register-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.register-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 2rem;
}

.register-tittle {
  margin-bottom: 2rem;
  color: #333;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.register-form-error {
  color: #D8000C;
  height: 1.5rem;
}

.register-button {
  margin-top: 1rem;
}

.register-form input[type="text"]::placeholder,
.register-form input[type="email"]::placeholder,
.register-form input[type="password"]::placeholder {
  font-style: italic;
  color: #ccc;
}

@media (max-height: 800px) {
  .register-form {
    justify-content: space-around;
  }

  .register-text {
    font-size: 0.8rem !important;
    /* Disminuye aún más el tamaño de fuente en pantallas muy pequeñas */
  }

  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    height: 1.6rem;
    /* Disminuye aún más la altura en pantallas muy pequeñas */
    margin-bottom: -0.25rem;
    margin-top: -0.5rem;
  }

  .register-form-error {
    color: #D8000C;
    font-size: 0.8rem !important;
    
  }

  .register-tittle {
    font-size: 1.6em;
  }
}


@media (max-height: 550px) {
  .register-form {
    justify-content: space-around;
  }

  .register-form label {
    font-size: 0.7rem;
  }

  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    height: 1.6rem;
  }

  .register-tittle {
    font-size: 1.6em;
  }
}
