.home-colunm-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    width: 100vw;
    height: 50rem;
}
.home-colunm{
    width: 49%;
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}
.home-left-colunm{
    display: flex;
    flex-direction: column;
}
.home-right-colunm{
    display: flex;
    justify-content: center;
}
.home-tittle{
    font-size: 3em;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
    color: #fff;
    padding: 10px;
    background-color: #c4b7a6;
    border-radius: 50% 20% / 10% 40%;
    border: 3px solid black;
}
.home-tittle-background{
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 10rem
}
.home-text-container{
    display: flex;
    justify-content: center;
}
.home-text{
    display: flex;
    justify-content: center;
    width: 70%;
}
.home-form-card{
    display: flex;
    background-color: #f3f3f3;
    width: 40rem;
    height: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 2rem;
    margin: auto;
    margin-top: 8rem;
}
.home-form-change-p{
    display: flex;
    justify-content: center;
}
.home-change-form{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .home-login-link{
    color: blue;
    text-decoration-line:underline;
    cursor: pointer;
    margin-left: 0.5rem;
  }
