.CDB-background {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    cursor: pointer;
    width: 17rem;
    height: 23.5rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    background: rgba(1, 1, 1, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.CDB-inner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.CDB-icon{
    color: #333;
    font-size: 5rem !important;
}