.galery-container {
    display: grid;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    grid-auto-rows: 27rem;
    grid-template-columns: repeat(auto-fit, minmax(0rem,19rem));
    width: 100%;
    justify-content: center;
}
.galery-center{
    display: flex;
    justify-content: center;
}