.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    z-index: 3;
}

.modal-container {
    max-width: 700px;
    min-height: 6.25rem;
    max-height: 90%;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.header>h3 {
    font-weight: 500;
    font-size: 16px;
    color: #333;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: #333;
}

.close-button:hover {
    background-color: #f3f3f3;
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
    word-wrap: break-word;
    overflow: auto;
}