.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    z-index: 998;
}

.modal-container {
    max-width: 800px;
    min-width: 300px;
    min-height: 6.25rem;
    max-height: 95%;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {


    .modal-container {
        width: 350px;

    }

    .modal-container p {
        width: 300px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .fullscreen {
        width: 100%;
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .overlay {
        padding: 0;
    }

    .modal-content {
        flex-grow: 1;
    }

    .modal-space {
        max-height: 100% !important;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    height: 2rem;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.header>h3 {
    font-weight: 500;
    font-size: 16px;
    color: #333;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: #333;
}

.close-button:hover {
    background-color: #f3f3f3;
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
    word-wrap: break-word;
    overflow: auto;
}

.info-modal-text-width {
    width: 22rem;
}

.modal-space {
    max-height: 40rem;
    padding-left: 10px;
    padding-right: 10px;
}