.nav {
    background-color: #333;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main-tittle {
    font-size: 2rem;
}

/*}.nav li.active{
    
}*/

.nav li:hover {
    background-color: #F3F3F3;
    color: #333;
}

.item{
    margin: auto;
}

@media print {
    .nav {
        display: none;
    }
}