.comment-text-area {
    display: flex;
    width: 30rem;
    height: 2rem;
    margin-bottom: 1rem;
    resize: none;
}

.posting-stars {
    margin: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .comment-text-area {
        width: 20rem;
        height: 2rem;
    }
}