.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
    font-style: italic;
    color: #ccc;
}

.login-tittle {
    margin-bottom: 2rem;
    color: #333;
}

.login-form-error {
    color: #D8000C;
    height: 1.5rem;
}

.login-button {
    margin-top: 0rem;

}

.login-form-error {
    color: #D8000C;
    height: 1.5rem;
  }