*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}

.container {
    background-color: #F3F3F3;
}

.container .ql-editor {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 3.25rem;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.5);

}

.page-divider {
    border: 1px solid black !important;
    margin-bottom: 1in;
}


@page {
    margin: 1in;
}

@media print {
    body {
        background: none;
    }

    .container .ql-editor {
        width: 21cm;
        height: 29.7cm;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .container .ql-toolbar.ql-snow {
        display: none;
    }

    html {
        overflow: hidden;
    }

}