.galery-card {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    cursor: pointer;
    height: 23.5rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    background: rgba(1, 1, 1, 0.28);
}

.galery-cover {
    width: 16.5rem;
    height: 23rem !important;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    object-fit: cover;

}

.card-data-container {
    background-color: #f3f3f3;
    width: 16.5rem;
    height: 23rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.book-title {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 100%;
    color: #f3f3f3;
    word-wrap: break-word;
}

.icon-holder {
    flex-flow: column wrap;
    position: absolute;
    background-color: #f3f3f3;
    top: 60%;
    bottom: 60%;
    right: 2%;
    height: 29%;
    width: 20%;
    border: 2px solid #333;
    border-right: 0px;
    display: block;
}

.card-icon {
    color: #333;
    margin-left: 1.25rem;
    margin-top: 15%;
    font-size: 1rem !important;
    font-weight: bold;
}

.icon-number {
    text-align: center;
    font-size: 1rem !important;
    color: #333;
    margin-bottom: 5%;
    font-weight: bold;

}

.dots-container {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    background-color: red;
    padding: 0.5rem;

    background: rgba(1, 1, 1, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
}

.dot {
    height: 2px;
    width: 2px;
    background-color: #f3f3f3;
    border-radius: 50%;
}

.dropdown-container {
    position: absolute;
    top: 3.5rem;
    right: 0;
    height: 4.5rem;
    background-color: #f3f3f3;
    border-radius: 0.25rem;
    z-index: 1;
    cursor: auto;
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
    gap: 0.5rem;
}

.dropdown-icon {
    color: #333;
    cursor: pointer;

}

.dropdown-icon:hover {
    background-color: #333;
    color: #f3f3f3;
    border-radius: 5px;
}

.card__inner {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.is-flipped .card__inner {
    transform: rotateY(180deg);
}

.card__body {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
}

.card__body--back {
    transform: rotateY(180deg);
}

.card-button-data {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 1rem;
}

.card-genre-data {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}

.card-creator-data {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.card-creator-data:after {
    content: "";
    display: flex;
    background: #cccccc;
    height: 1px;
    width: 100%;
}
.card-profile-data{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}

.more-info-button {
    background-color: #333;
    color: #f3f3f3;
    padding: 0.5rem;
}

.cover-title {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    top: 15%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.card-stars-data {
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 5rem;
    position: absolute;
}

.card-stars-background:hover {
    border: 2px #333 solid;
    background-color: #333;
    border-radius: 15px;
    padding: 0.3rem;
    display: flex;
    color: #f3f3f3;

}

.card-profile-img {
    width: 40px;
    height: 40px !important;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.card-link{
    color: #333;
}
.card-link:hover{
    color: #333;
    font-weight: bold;
}
.icon-gap{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.delete-button{
    background-color: #c94c4c;
}