.explore-chips-container {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.explore-search-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.explore-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.explore-genres-button {
    border: none;
    background-color: #dfdfdf;
}

.header__wrapper .cols__container .right__col nav:after {
    position: absolute;
    top: 159px;
    content: "";
    display: block;
    background: #cccccc;
    height: 1px;
    width: 90%;
}

.explore-users-result {
    flex-wrap: wrap;
}

.explore-search {
    margin-bottom: 3rem;
    
}