.comment-container {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 40rem;
    position: relative;

}

.comment-container.reply {
    min-width: 10rem;
    width: 30rem;
}

.comment-header {
    align-items: center;
    width: 100%;
}

.comment-header::after {
    content: "";
    position: absolute;
    top: 5rem;
    display: flex;
    background: #ccc;
    height: 1px;
    margin: auto;
    width: 95%;
}

.comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.comment-info {
    margin: 0;
}

.comment-text {
    margin-top: 2rem;
}

.comments {
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    margin-top: 1rem;
}

.comment-stars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-container .space-between {
    width: 100%;
}

.comment-responses-button {
    margin-bottom: 1rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .comment-container {
        min-width: 0;
        width: 21rem;
    }

    .comment-info {
        margin: 0;
        display: flex;
        width: 30% !important;
    }

    .star-icon {
        font-size: 1.2rem !important;
    }

    .comment-date-name {
        width: 4rem;
    }

    .comment-header {
        align-items: center;
        width: 100%;
    }

    .comment-container.reply {
        width: 30rem;
    }
}

@media (max-width: 550px) {
    

    .comment-container.reply {
        width: 20rem;
    }
}