.comment-container {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-right: 1rem;
    min-width: 40rem;
    position: relative;
    
}

.comment-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment-header::after {
    content: "";
    position: absolute;
    top: 5rem;
    display: flex;
    background: #ccc;
    height: 1px;
    margin: auto;
    width: 95%;
}

.comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.comment-info {
    margin: 0;
}

.comment-text {
    margin-top: 2rem;
}

.comments {
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.comment-stars{
    display: flex;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
}
.comment-container .space-between{
    width: 100%;
}
.comment-responses-button{
    margin-bottom: 1rem;
    font-weight: bold;
}