.container .ql-editor {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1in;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    font-size: 1rem;
    
}

.center-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

html {
    scroll-padding-top: 21%;
    scroll-padding-bottom: 21%;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    z-index: 1;
    width: 100%;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 3.20rem;
    justify-content: center;

}

.side-holder {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    position: sticky;
    top: 11rem;
}

.page-divider {
    border: 1px solid black !important;
    margin-bottom: 1in;
}

.bubble-comment-holder {
    height: 100%;
    width: 100%;

}

.loading-img {
    object-fit: contain;
    border: 2px solid #333;
}


@page {
    margin: 1in;
}

@media print {
    body {
        background: none;
    }

    .container .ql-editor {
        width: 21cm;
        min-height: 0 !important;
        padding: 0;
        margin: 0;
        box-shadow: none !important;
        align-self: flex-start;
        overflow: hidden;
    }

    .container .ql-toolbar.ql-snow {
        display: none;
    }

    html {
        overflow: hidden;
    }

    .image-generator {
        display: none;
    }


}

@media (max-width: 890px) {
    .container .ql-editor {
        width: 97%;
        min-height: 29.7cm;
        padding: 1rem;
        margin-top: 0.5rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        background-color: white;
    }


}