.profile-small-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: none;
}

.profile-picture-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.small-profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

@media (min-width: 868px) {
    .profile-small-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 20rem;
    }
    

}